# For pdf reader
PyPDF2

# For linters and tests - CI CD useage
pylint
pycodestyle
pytest

# For serverAPI
fastapi
uvicorn

# Getting api and other env variables
python-dotenv

# AWS package
boto3
botocore
